
@font-face {
  font-family: Pixel;
  src: url(img/Pixeboy-z8XGD.ttf);
}

@font-face {
  font-family: LittlePixel;
  src: url(img/EightBitDragon-anqx.ttf);
}

body {
  overflow: hidden;
}

.wrapper {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  transition: background-color 2s ease-in-out;
}

#Desc, #DescTwo, #DescThree {
  font-size: 40px;
}

.menu {
  height: 70vh;
  width: 50vw;
  margin: 0 auto;
  align-self: center;
  /* border: 1px solid black; */
}

.one {
  height: 20vh;
  width: 100%;
  /* border: 1px solid black; */
  color: #f86502;
  text-align: center;
  font-size: 7em;
  font-family: Pixel;
  transition: all 3s ease-in-out;
}

.hi1 {
  text-align: center;
  color: #c3073f;
  font-family: Pixel;
  font-size: 5em;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  z-index: 200;
}

.counter {
  height: 20vh;
  width: 30vw;
  color: black;
  font-family: Pixel;
  position: absolute;
  
  font-size: 6em;
  left: 1em;
  align-self: flex-end;
  font-weight: lighter;
  transition: opacity 3s ease-in-out;
}

.toWebsite {
  /* padding: 10px; */
  height: 15vh;
  color: #f86502;
  text-align: center;
  background-color: black;;
  font-family: Pixel;
  position: absolute;
  line-height: 15vh;
  font-size: 6em;
  align-self: flex-start;
  right: 0;
  font-weight: lighter;
  cursor: pointer;
  display: flex;
}

.toWebsite:hover {
  background-color: #a00131;
}

.klocek {
  padding-top: 20px;
  /* flex: 1 1 0; */
  height: 13vh;
  margin-top: 0;
  font-size: 0.7em;
  color: #f86502;
  background-color: black;
}

.klocek:hover {
  background-color: #a00131;
}

#Image {
  height: 1000px;
  width: 700px;
  /* border-radius: 50%; */
  position: absolute;
  z-index: -1;
  filter: grayscale(100%);
  align-self: center;
  transition: opacity 4s ease-in-out;
}

.About {
  height: 80vh;
  width: 54vw;
  position: absolute;
  /* background-color: cadetblue; */
  right: 0;
  align-self: flex-end;
  font-family: LittlePixel;
  font-size: 2em;
  color: #a00131;
  z-index: 0;
  /* background-color: #dac2a1; */
  text-align: center;
  transition: opacity 2s ease-in-out;
  
  border-radius: 20%;
}

.Contact {
  height: 80vh;
  width: 54vw;
  position: absolute;
  z-index: -1;
  /* background-color: cadetblue; */
  right: 0;
  align-self: flex-end;
  font-family: LittlePixel;
  font-size: 2em;
  color: #a00131;
  
  text-align: center;
  transition: opacity 2s ease-in-out;
  border-radius: 20%;
}

.Project {
  height: 80vh;
  width: 50vw;
  position: absolute;
  z-index: -1;
  /* background-color: cadetblue; */
  right: 0;
  align-self: flex-end;
  font-family: LittlePixel;
  font-size: 2em;
  color: #a00131;
  line-height: 40vh;
  text-align: center;
  transition: opacity 2s ease-in-out;
  border-radius: 20%;
}

.Loading {
  height: 5vh;
  width: 50%;
  /* background-color: red; */
  margin: 0 auto;
  display: flex;
}

.Loading div {
  flex: 1 1 0;
  border: 2px black dashed;
  height: 100%;
  width: 100%;
}

.line {
  height: 0.5vh;
  width: 90%;
  margin-left: 0;
  background-color: #a00131;
  border: none;
}

.social {
  height: 4em;
  border-radius: 50%;
  cursor: pointer;
  
}

.social:hover {
  background-color: #a00131;
  
}

/* KEYFRAMES ANIMATIONS */

@keyframes navbarslide {
  0% { width: 10% }
  30% { width: 30%;
  color: aqua;
  }
  68%, 72% { width: 50% }
  100% { width: 100% }
}

@keyframes navbarroll {
  from {width: 12%;}
  to {width: 100%;}
}

@keyframes loading {
  0% { }
}

@keyframes filters {
  0% { filter: sepia(100%); filter: saturate(100%); }
  30% { filter: sepia(0); filter: contrast(100%);
  }
  68%, 72% { filter: sepia(50%); }
  100% {filter: sepia(90%);}
}

/* RESPONSIVE WARZONE */

@media (min-width: 320px) {
  body {
    font-size: 50%;
    overflow: hidden;
  }

  .About, .Contact {
    font-size: 3em;
  }

  #Desc, #DescTwo {
    font-size: 1rem;
  }

  #DescThree {
    font-size: 2rem;
  }

  .Loading {
    height: 10vh;
    width: 80%;
  }

  .Project {
    line-height: 10vh;
    width: 100%;
  }



  .menu {
    height: 50vh
  }

  .wrapper {
    height: 100vh;
    overflow: hidden;
  }

  .counter {
    font-size: 3em;
  }

  .toWebsite {
    height: 10vh;
    line-height: 10vh;
  }

  .klocek {
    height: 100%;
    padding: 0;
    line-height: 10vh;
  }

  #Image {
   display: none;
  }
  
  .toWebsite:hover {
    background-color: black;
  }
  
  .About, .Contact {
    height: 80vh;
    width: 100%;
    position: absolute;
    /* background-color: cadetblue; */
    right: 0;
    align-self: flex-end;
  }

  #DescTwo p {
    font-size: 0.8em;
  }

  .line {
    width: 100%;
  }

}

@media (min-width: 340px) {
  body {
    font-size: 60%;
    overflow: hidden;
  }


  .menu {
    height: 50vh
  }

  .wrapper {
    height: 100vh;
    overflow: hidden;
  }

  .counter {
    font-size: 2rem;
  }

  .toWebsite {
    height: 10vh;
    line-height: 10vh;
  }

  .klocek {
    height: 100%;
    padding: 0;
    line-height: 10vh;
  }

  #Image {
   display: none;
  }
  
  .toWebsite:hover {
    background-color: black;
  }
  
  .About, .Contact {
    height: 80vh;
    width: 100%;
    position: absolute;
    /* background-color: cadetblue; */
    right: 0;
    align-self: flex-end;
  }

  #DescTwo p {
    font-size: 1rem;
  }


  .line {
    width: 100%;
  }

  
}

@media (min-width: 700px) {
  body {
    font-size: 100%;
  }

  #DescTwo p {
    font-size: 1em;
  }

  

  .klocek:hover {
    background-color: black;
  }

  .About, .Contact {
    font-size: 3em;
  }

  #Desc, #DescTwo {
    font-size: 2rem;
  }

  #DescThree {
    font-size: 3rem;
  }

  .counter {
    font-size: 4rem;
  }
  

}

@media (min-width: 1200px) {

  body { 
    font-size: 80%;
  }

  #DescTwo p {
    font-size: 1em;
  }


  .wrapper {
    background-color: rgb(224, 220, 220);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    transition: background-color 2s ease-in-out;
  }
  
  .menu {
    height: 70vh;
    width: 50vw;
    margin: 0 auto;
    align-self: center;
    /* border: 1px solid black; */
  }
  
  .one {
    height: 20vh;
    width: 100%;
    /* border: 1px solid black; */
    color: #f86502;
    text-align: center;
    font-size: 7em;
    font-family: Pixel;
    transition: all 3s ease-in-out;
  }
  
  .hi1 {
    text-align: center;
    color: #c3073f;
    font-family: Pixel;
    font-size: 5em;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    z-index: 200;
  }
  
  .counter {
    height: 20vh;
    width: 30vw;
    color: black;
    font-family: Pixel;
    position: absolute;
    
    font-size: 6em;
    left: 1em;
    align-self: flex-end;
    font-weight: lighter;
    transition: opacity 3s ease-in-out;
  }
  
  .toWebsite {
    /* padding: 10px; */
    height: 15vh;
    color: #f86502;
    text-align: center;
    background-color: black;;
    font-family: Pixel;
    position: absolute;
    line-height: 15vh;
    font-size: 6em;
    align-self: flex-start;
    right: 0;
    font-weight: lighter;
    cursor: pointer;
    display: flex;
  }
  
  .toWebsite:hover {
    color: #a00131;
  }
  
  .klocek {
    padding-top: 20px;
    /* flex: 1 1 0; */
    height: 13vh;
    width: 100%;
    margin-top: 0;
    font-size: 0.7em;
    color: #f86502;
    background-color: black;
  }
  
  .klocek:hover {
    background-color: #a00131;
  }
  
  #Image {
    height: 1000px;
    width: 700px;
    /* border-radius: 50%; */
    position: absolute;
    display: block;
    z-index: -1;
    filter: grayscale(100%);
    align-self: center;
    transition: opacity 4s ease-in-out;
  }
  
  .About {
    height: 80vh;
    width: 54vw;
    position: absolute;
    /* background-color: cadetblue; */
    right: 0;
    align-self: flex-end;
    font-family: LittlePixel;
    font-size: 2em;
    color: #a00131;
    z-index: 0;
    /* background-color: #dac2a1; */
    text-align: center;
    transition: opacity 2s ease-in-out;
    
    border-radius: 20%;
  }
  
  .Contact {
    height: 80vh;
    width: 54vw;
    position: absolute;
    z-index: -1;
    /* background-color: cadetblue; */
    right: 0;
    align-self: flex-end;
    font-family: LittlePixel;
    font-size: 2em;
    color: #a00131;
    
    text-align: center;
    transition: opacity 2s ease-in-out;
    border-radius: 20%;
  }

  .Project {
    height: 80vh;
    width: 50vw;
    position: absolute;
    z-index: -1;
    /* background-color: cadetblue; */
    right: 0;
    align-self: flex-end;
    font-family: LittlePixel;
    font-size: 2em;
    color: #a00131;
    line-height: 40vh;
    text-align: center;
    transition: opacity 2s ease-in-out;
    border-radius: 20%;
  }
  
  .Loading {
    height: 5vh;
    width: 50%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
  }
  
  .Loading div {
    flex: 1 1 0;
    border: 2px black dashed;
    height: 100%;
    width: 100%;
  }
  
  #Desc, #DescTwo {
    font-size: 20px;
  }

  .line {
    height: 0.5vh;
    width: 90%;
    margin-left: 0;
    background-color: #a00131;
    border: none;
  }
  
  .social {
    height: 4em;
    border-radius: 50%;
    cursor: pointer;
    
  }
  
  .social:hover {
    background-color: #a00131;
    
  }





}


@media (min-width: 1800px) {

  body {
    font-size: 160%;
  }

  
  #Image {
    height: 1300px;
    width: 900px;
   
  }

  #Desc, #DescTwo {
    font-size: 2rem;
  }

  .klocek {
    height: 15vh;
    /* padding: 5vh; */
   width: 100%;
    line-height: 13vh;
    flex: 1 1 0;
    
  }

  .Project {
    line-height: 10vh;
    width: 50vw;
  }
  

}

@media (min-width: 2000px) {

  body {
    font-size: 190%;
  }

  
  #Image {
    height: 1900px;
    width: 1400px;
   
  }

  #Desc, #DescTwo {
    font-size: 3rem;
  }

  #DescThree {
    font-size: 4rem;
  }

  

  .Project {
    line-height: 10vh;
    width: 50vw;
  }
  

}